@model Usuario 
@{
    ViewData["Title"] = "Usuarios";
}
<div class="titulo_pagina">
    <h1>cadastro de @ViewData["Title"]</h1>
</div>
<form method="POST" action='@Url.Action("Cadastrar")' class="cadastro">

    <div class="campo">
        <label>E-mail</label>
        <input type="text" name="Email" />
    </div>


    <div class="campo">
        <label>Nome Completo</label>
        <input type="text" name="Nome" />
    </div>

    <div class="campo">
        <label>Nome de Usuario</label>
        <input type="text" name="Nickname" />
    </div>

    <div class="campo">
        <label>Senha</label>
        <input type="password" name="Senha" />
    </div>

    <button class="gradient btn" type="submit">Cadastrar</button>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>E-mail</th>
        <th>Nome Completo</th>
        <th>Nome de Usuário</th>
        <th>Senha</th>
    </thead>
    <tbody>
        @foreach(Usuario usuario in ViewBag.Usuarios){
            <tr>
                <td>@usuario.Email</td>
                <td>@usuario.Nome</td>
                <td>@usuario.Nickname</td>
                <td>@usuario.Senha</td>
            </tr>
        }
    </tbody>
</table>
